@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Fira+Code:wght@300;400;500;600;700&display=swap');
body {
    font-family: "Fira Code", monospace;
    display: flex;
    padding: 12px;
    /* Body height should be restricted to the viewport size, minus the top and bottom padding */
    height: calc(100vh - 12px - 12px);
}

#albumimage {
    box-shadow: #000 0px 0 12px, #000 0px 0 12px, #000 0px 0 12px;
    border-radius: 12px;
    flex-shrink: 0;
}

#verticalstack {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    overflow: hidden;
    min-width: 0;
}

#artist {
    color: hsl(34deg 75% 72%);
    text-shadow: #000 0px 0 12px, #000 0px 0 12px, #000 0px 0 12px, #000 0px 0 12px, #000 0px 0 12px, #000 0px 0 12px, #000 0px 0 12px;
    font-weight: 600;
    font-size: 17vh;
    padding-left: 12px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
    animation-delay: 0.05s;
    -webkit-line-clamp: 1;
}

#song {
    color: #ffffff;
    text-shadow: #000 0px 0 12px, #000 0px 0 12px, #000 0px 0 12px, #000 0px 0 12px, #000 0px 0 12px, #000 0px 0 12px, #000 0px 0 12px;
    font-weight: 400;
    font-size: 17vh;
    padding-left: 12px;
    margin-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-line-clamp: 2;
}

p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}